<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.name %></td>
        <td id="relationship_followings">
          <%= render 'relationships/followings_counter', user: user %>
        </td>
        <td id="relationship_followers">
          <%= render 'relationships/followers_counter', user: user %>
        </td>
        <td id="relationship-btn_index">
          <%= render 'relationships/btn', user: user, options: { class: "follow-link" } %>
        </td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
